<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.jpg - 1</key>
	<string>iphone 5s</string>
	<key>0.jpg - 2</key>
	<string>iphone 5s</string>
	<key>0.jpg - 3</key>
	<string>iphone 5s</string>
	<key>0.jpg - 4</key>
	<string>iphone 5s</string>
	<key>0.jpg - 5</key>
	<string>iphone 5s</string>
	<key>0.jpg - 6</key>
	<string>iphone 5s</string>
	<key>0.jpg - 7</key>
	<string>iphone 5s</string>
	<key>0.jpg - 8</key>
	<string>iphone 5s</string>
</dict>
</plist>
